<%- include('partials/header') %>
<div class="bg-no-repeat bg-cover h-screen" style="background-image: url(img/Fond.png)">
    <div class="flex justify-center">
        <img class="mt-3" src="../img/logo-1.png" alt="">
    </div>
    <div class="flex flex-col items-center">
        <a href="/actugest"> <button class="mt-20 bg-green-500 text-white text-2xl font-bold py-2 px-4 rounded-full w-56 h-20" type="submit">Actualités Gest</button></a>
        <a href="/actumembres"> <button class="mt-10 bg-blue-500 text-white text-2xl font-bold py-2 px-4 rounded-full w-56 h-20" type="submit">Actualités Membres</button></a>
    </div>
</div>

<%- include('partials/footer') %>