<%- include('partials/header') %>
<div class="flex justify-between border border-4 border-blue-500 rounded w-64 m-auto pt-1 h-8 bg-white">
    <img class="" href="" src="../img/icons8-chercher-24.png" alt="">
    <input type="text" class="ml-2 mr-2 text-center" placeholder="Recherche" id="recherche">
    <img src="../img/icons8-microphone-24.png" alt="">
</div>
<div class="mt-2 w-11/12 rounded overflow-hidden shadow-lg m-auto">
    <img class="w-full" src="../img/Larry-Galaxie.png">
    <p class="font-bold text-lg text-green-500 mb-2">Le Gest sur Radio Galaxie : Lary est un “entrepreneur salarié” heureux grâce à la CAE Impuls’ions</p>
    <p class="text-gray-700 text-base">Larry est un des fondateurs de la Coopérative d’Activité d’Entrepreneurs (CAE) Impuls’ions. Il y a 110 CAE en France. Elles offrent un panels de services pour les porteurs de projet qui souhaitent être accompagnés et tester leur modèle économique avant de se lancer officiellement. Au sein de cette coopérative, ils deviennent alors des “entrepreneurs salariés” : un statut original peut connu des créateurs d’entreprise.</p>
</div>
<div class="mt-3 w-11/12 rounded overflow-hidden shadow-lg m-auto">
    <img class="w-full" src="../img/Larry-Galaxie.png">
    <p class="font-bold text-lg text-green-500 mb-2">Le Gest sur Radio Galaxie : Lary est un “entrepreneur salarié” heureux grâce à la CAE Impuls’ions</p>
    <p class="text-gray-700 text-base">Larry est un des fondateurs de la Coopérative d’Activité d’Entrepreneurs (CAE) Impuls’ions. Il y a 110 CAE en France. Elles offrent un panels de services pour les porteurs de projet qui souhaitent être accompagnés et tester leur modèle économique avant de se lancer officiellement. Au sein de cette coopérative, ils deviennent alors des “entrepreneurs salariés” : un statut original peut connu des créateurs d’entreprise.</p>
</div>
<%- include('partials/footer') %>