<%- include('partials/header') %>

<!--<script type="text/javascript">
    calendrier();
</script>
-->

<table class="border-solid border-1 border-black p-px bg-blue-500 mt-300px bg-no-repeat bg-cover h-screen flex justify-center items-center" style="background-image:url('img/Fond.png') ">
    <tbody id="w-64">
        <tr>
            <th class="border-solid border-1 bg-blue-500 text-white text-4xl w-screen h-16" colspan="7">Septembre 2019</th>
        </tr>
        <tr>
            <th class="border-solid border-1 bg-white py-4 text-lg">L</th>
            <th class="border-solid border-1 bg-white py-4 text-lg">M</th>
            <th class="border-solid border-1 bg-white py-4 text-lg">Me</th>
            <th class="border-solid border-1 bg-white py-4 text-lg">J</th>
            <th class="border-solid border-1 bg-white py-4 text-lg">V</th>
            <th class="border-solid border-1 bg-white py-4 text-lg">S</th>
            <th class="border-solid border-1 bg-white py-4 text-lg">D</th>
        </tr>
        <tr>
            <td class="text-center bg-gray-300 opacity-25">26</td>
            <td class="text-center bg-gray-300 opacity-25">27</td>
            <td class="text-center bg-gray-300 opacity-25">28</td>
            <td class="text-center bg-gray-300 opacity-25">29</td>
            <td class="text-center bg-gray-300 opacity-25">30</td>
            <td class="text-center bg-gray-300 opacity-25">31</td>
            <td class="border-solid border-1 bg-white text-center py-6">1</td>
        </tr>
        <tr>
            <td class="border-solid border-1 bg-green-300 text-center py-6"><a href="/evenement">2</a></td>
            <td class="border-solid border-1 bg-white text-center py-6">3</td>
            <td class="border-solid border-1 bg-white text-center py-6">4</td>
            <td class="border-solid border-1 bg-white text-center py-6">5</td>
            <td class="border-solid border-1 bg-white text-center py-6">6</td>
            <td class="border-solid border-1 bg-white text-center py-6">7</td>
            <td class="border-solid border-1 bg-white text-center py-6">8</td>
        </tr>
        <tr>
            <td class="border-solid border-1 bg-white text-center py-6">9</td>
            <td class="border-solid border-1 bg-white text-center py-6">10</td>
            <td class="border-solid border-1 bg-white text-center py-6">11</td>
            <td class="border-solid border-1 bg-white text-center py-6">12</td>
            <td class="border-solid border-1 bg-white text-center py-6">13</td>
            <td class="border-solid border-1 bg-white text-center py-6">14</td>
            <td class="border-solid border-1 bg-white text-center py-6">15</td>
        </tr>
        <tr>
            <td class="border-solid border-1 bg-white text-center py-6">16</td>
            <td class="border-solid border-1 bg-white text-center py-6">17</td>
            <td class="border-solid border-1 bg-white text-center py-6">18</td>
            <td class="border-solid border-1 bg-yellow-300 text-center py-6"><a href="/reunion">19</a></td>
            <td class="border-solid border-1 bg-white text-center py-6">20</td>
            <td class="border-solid border-1 bg-white text-center py-6">21</td>
            <td class="border-solid border-1 bg-white text-center py-6">22</td>
        </tr>
        <tr>
            <td class="border-solid border-1 bg-white text-center py-6">23</td>
            <td class="border-solid border-1 bg-white text-center py-6">24</td>
            <td class="border-solid border-1 bg-white text-center py-6">25</td>
            <td class="border-solid border-1 bg-white text-center py-6">26</td>
            <td class="border-solid border-1 bg-white text-center py-6"><a href="/createevent">27</a></td>
            <td class="border-solid border-1 bg-white text-center py-6">28</td>
            <td class="border-solid border-1 bg-white text-center py-6">29</td>
        </tr>
        <tr>
            <td class="border-solid border-1 bg-white text-center py-6">30</td>
            <td class="text-center bg-gray-300 opacity-25">1</td>
            <td class="text-center bg-gray-300 opacity-25">2</td>
            <td class="text-center bg-gray-300 opacity-25">3</td>
            <td class="text-center bg-gray-300 opacity-25">4</td>
            <td class="text-center bg-gray-300 opacity-25">5</td>
            <td class="text-center bg-gray-300 opacity-25">6</td>
        </tr>
    </tbody>
</table>



    <!--<script>
        if('serviceWorker' in navigator) {
            navigator.serviceWorker.register('sw.js').then(function() {
                console.log('Service Worker Registred');
            });
        }
    </script>-->



<%- include('partials/footer') %>