<%- include('partials/header') %>
<h1 class="text-blue-500 text-3xl text-center mt-4">Ajouter une entreprise</h1>
<form action="/ajout/fiche" method="POST" class="flex flex-col items-center">
    <input class="shadow appearance-none border rounded w-72 py-2 px-3 text-center text-sm leading-tight focus:outline-none focus:shadow-outline mt-4" type="file" name="logo" value="logo">
    <input class="mt-2 shadow appearance-none border rounded w-72 py-2 px-3 text-center text-xl leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Pseudo" name="pseudo">
    <input class="mt-2 shadow appearance-none border rounded w-72 py-2 px-3 text-center text-xl leading-tight focus:outline-none focus:shadow-outline" type="password" placeholder="Mot de passe" name="motdepasse">
    <input class="mt-2 shadow appearance-none border rounded w-72 py-2 px-3 text-center text-xl leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Nom" name="nom">
    <input class="mt-2 shadow appearance-none border rounded w-72 py-2 px-3 text-center text-xl leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Prénom" name="prenom">
    <input class="mt-2 shadow border rounded w-72 py-2 px-3 text-center text-xl focus:shadow-outline" type="text" placeholder="Nom de l'entreprise" name="entreprise">
    <input class="mt-2 shadow appearance-none border rounded w-72 py-2 px-3 text-center text-xl leading-tight focus:outline-none focus:shadow-outline" type="tel" placeholder="06.01.02.03.04" name="telephone">
    <input class="mt-2 shadow appearance-none border rounded w-72 py-2 px-3 text-center text-xl leading-tight focus:outline-none focus:shadow-outline" type="email" placeholder="entreprise@gmail.com" name="email">
    <input class="mt-2 shadow appearance-none border rounded w-72 py-2 px-3 text-center text-xl leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Adresse" name="adresse">
    <input class="mt-2 shadow appearance-none border rounded w-72 py-2 px-3 text-center text-xl leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Code Postal" name="codepostal">
    <input class="mt-2 shadow appearance-none border rounded w-72 py-2 px-3 text-center text-xl leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Ville" name="ville">
    <textarea class="mt-2 shadow appearance-none border-gray-600 rounded w-64 h-24 py-2 px-3 text-center text-xl text-gray-900 leading-tight focus:outline-none focus:shadow-outline" placeholder="Description" name="description" type="text" rows="5" cols="70"></textarea>
    <button class="mt-5 bg-blue-500 text-white text-xl font-bold py-2 px-4 rounded-full w-40 h-12">Ajouter</button>
</form>
<%- include('partials/footer') %>