<%- include('partials/header') %>
<div class="bg-no-repeat bg-cover h-screen" style="background-image: url(img/Fond.png)">
    <div class="flex justify-between border border-4 border-blue-500 rounded w-64 m-auto pt-1 h-8 bg-white">
        <img class="" href="" src="../img/icons8-chercher-24.png" alt="">
        <input type="text" class="ml-2 mr-2 text-center" placeholder="Recherche" id="recherche">
        <img src="../img/icons8-microphone-24.png" alt="">
    </div>

    <div class="flex justify-center mt-10">
        <div>
            <a href="/fiche">
                <div class="w-72 p-2 bg-white rounded mt-3 flex">
                    <img src="../img/logo_entreprise_90.png" class="w-16 mr-16" alt="">
                    <div class="mr-10">
                        <p>Nom de l'entreprise</p>
                        <p>Secteur d'activité</p>
                    </div>
                </div>
            </a>
            <a href="/fiche">
                <div class="w-72 p-2 bg-white rounded mt-3 flex">
                    <img src="../img/logo_entreprise_90.png" class="w-16 mr-16" alt="">
                    <div class="mr-10">
                        <p>Nom de l'entreprise</p>
                        <p>Secteur d'activité</p>
                    </div>
                </div>
            </a>
            <a href="/fiche">
                <div class="w-72 p-2 bg-white rounded mt-3 flex">
                    <img src="../img/logo_entreprise_90.png" class="w-16 mr-16" alt="">
                    <div class="mr-10">
                        <p>Nom de l'entreprise</p>
                        <p>Secteur d'activité</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>