<%- include('partials/header') %>

<div class="flex justify-center">
    <img class="mt-3" src="img/logo-1.png" alt="">
</div>

<form class="flex flex-col items-center mt-4" action="/form/connect" method="POST">
    <input class="mt-10 shadow appearance-none border rounded py-2 px-3 text-center text-2xl leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Identifiant" name="pseudo">
    <input class="mt-6 shadow appearance-none border rounded py-2 px-3 text-center text-2xl leading-tight focus:outline-none focus:shadow-outline" type="password" placeholder="Mot de passe" name="motdepasse">
    <button class="mt-16 bg-blue-500 text-white text-2xl font-bold py-2 px-4 rounded-full w-56 h-20">Se connecter</button>
</form>

<%- include('partials/footer') %>