<%- include('partials/header') %>

<form action="/creationevent" class="flex flex-col items-center" method="POST">
    <p class="text-3xl text-blue-500 mt-3 m-2">Nouvel Evénement</p>
    <div class="flex m-2">
        <label for="boutonevent">Evénement</label>
        <input type="radio" class="mt-2 border rounded w-72 py-2 px-3 text-center text-xl ml-2" name="bouton"/>
        <label for="boutonreunion" class="ml-2">Réunion</label>
        <input type="radio" class="mt-2 border rounded w-72 py-2 px-3 text-center text-xl ml-2" name="bouton"/>
    </div>
    <p class="text-xl text-green-500">Intitulé</p>
    <input class="mt-1 shadow appearance-none border rounded w-64 py-2 px-3 text-center text-xl leading-tight focus:outline-none focus:shadow-outline" type="text" name="intitule">
    <p class="text-xl text-green-500">Lieu</p>
    <input class="mt-1 shadow appearance-none border rounded w-64 py-2 px-3 text-center text-xl leading-tight focus:outline-none focus:shadow-outline" type="text" name="lieu">
    <p class="text-xl text-green-500">Date</p>
    <input class="mt-1 bg-white shadow appearance-none border rounded w-48 text-center text-xl leading-tight focus:outline-none focus:shadow-outline" type="date" name="date">
    <p class="text-xl text-green-500 m-2">Heure</p>
    <div class="flex mb-2">
        <label class="mt-3">DE :</label><input class="mt-2 bg-white shadow appearance-none border rounded w-20 text-center text-xl leading-tight focus:outline-none focus:shadow-outline ml-2" type="time" name="time">
        <label class="ml-2 mt-3">A :</label><input class="mt-2 bg-white shadow appearance-none border rounded w-20 text-center text-xl leading-tight focus:outline-none focus:shadow-outline ml-2" type="time" name="time">
    </div>
    <p class="text-xl text-green-500 m-2">Description</p>
    <textarea class="mt-1 shadow appearance-none border rounded w-64 h-20 py-2 px-3 text-center text-xl text-gray-900 leading-tight focus:outline-none focus:shadow-outline" name="description" type="text" rows="5" cols="70"></textarea>
    <button class="mt-5 bg-blue-500 text-white text-xl font-bold py-2 px-4 rounded-full w-40 h-12 mb-4">Ajouter</button>
</form>
<%- include('partials/footer') %>