<%- include('partials/header') %>
<div class="flex flex-col items-center">
    <p class="text-3xl text-blue-500 text-center mt-16 ">Nom de l'évenement</p>
    <p class="text-lg text-green-500 text-center mt-3">Le 00/00 de 00h00 à 00h00</p>
    <p class="text-lg text-green-500 text-center">À Lieu</p>

    <p class="text-center mt-10 w-10/12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi vero dolores harum saepe quam, eaque ipsam ratione quasi fugit, corporis, veniam placeat aspernatur asperiores dolor cupiditate minima necessitatibus commodi! Illum.</p>

    <div class="mt-10 flex text-center">
        <p class="text-lg text-gray-500">Participants :</p>
        <img class="ml-2" src="../img/logo_participants_30.png" alt="">
        <img class="ml-2" src="../img/logo_participants_30.png" alt="">
        <img class="ml-2" src="../img/logo_participants_30.png" alt="">
        <a href="/participants"> <button class="ml-3 bg-blue-500 text-white font-bold rounded-full ml-3 py-1 px-3">+</button></a>
    </div>
    <button class="mt-10 bg-green-500 text-white text-2xl font-bold py-2 px-4 rounded-full w-40 h-16">Je
    participe</button>
</div>
<%- include('partials/footer') %>