<%- include('partials/header') %>

<div class="flex justify-end m-3">
    <a href="">
        <img src="../img/share.png" class="w-8" alt="">
    </a>
</div>
<div class="flex flex-col items-center">
    <img src="../img/logo_entreprise_90.png" class="w-32" alt="">
    <p class="text-2xl font-bold mt-3">Nom de l'entreprise</p>
</div>

<div class="mt-10 ml-3">
    <div id="gerant" class="flex mt-3">
        <p class="font-bold">Directeur : </p>
        <p class="ml-8 text-sm">Nom, Prénom</p>
    </div>
    <div id="coordonnées" class="flex mt-3">
        <p class="font-bold">Coordonnées : </p>
        <div class="ml-1">
            <p class="text-sm">01.02.03.04.05</p>
            <p class="text-sm">adresse@email.com</p>
            <p class="text-sm">17, rue du coin de la rue</p>
            <p class="text-sm">31390 CARBONNE</p>
        </div>
    </div>
    <div id="description" class="flex mt-3">
        <p class="font-bold">Description : </p>
        <p class="w-56 ml-5 text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum illum est et
            itaque aliquid.</p>
    </div>
    <div id="partenaires" class="flex mt-3">
        <p class="font-bold">Partenaires : </p>
        <img class="ml-5" src="../img/logo_participants_30.png" alt="">
        <img class="ml-2" src="../img/logo_participants_30.png" alt="">
        <img class="ml-2" src="../img/logo_participants_30.png" alt="">
    </div>
    <div class="flex justify-around mt-5">
        <img src="../img/logo_telephone_70.png" alt="">
        <img src="../img/logo_mail_70.png" alt="">
    </div>

</div>
<%- include('partials/footer') %>