<%-include('partials/header')%>
<%-include('partials/login')%>
<div class="bg-no-repeat bg-cover h-screen" style="background-image: url(img/Fond.png)">
    <div class="flex justify-center">
        <img class="mt-3" src="../img/logo-1.png" alt="">
    </div>
    <div class="flex flex-col items-center">
        <a href="/presta"> <button class="mt-16 bg-green-500 text-white text-2xl font-bold py-2 px-4 rounded-full w-56 h-20"
                type="submit">Prestation de Services</button></a>
        <a href="/discussion"> <button
                class="mt-8 bg-blue-500 text-white text-2xl font-bold py-2 px-4 rounded-full w-56 h-20"
                type="submit">Discussion Amicales</button></a>
        <a href="/exemple"> <button class="mt-8 bg-green-500 text-white text-2xl font-bold py-2 px-4 rounded-full w-56 h-20"
                type="submit">Exemple</button></a>
    </div>


</div>
<%- include('partials/footer') %>