<%- include('partials/header') %>
<div class="flex justify-center">
    <img class="mt-3" src="../img/logo-1.png" alt="">
</div>

<form class="flex flex-col items-center mt-4" action="/menu" method="POST">
    <input class="mt-6 shadow appearance-none border rounded w-72 py-2 px-3 text-center text-2xl leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Nom"  name="nom" required>
    <input class="mt-6 shadow appearance-none border rounded w-72 py-2 px-3 text-center text-2xl leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Prénom"  name="prenom" required>
    <input class="mt-6 shadow appearance-none border rounded w-72 py-2 px-3 text-center text-2xl leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Entreprise"  name="entreprise" required>
    <input class="mt-6 shadow appearance-none border rounded w-72 py-2 px-3 text-center text-2xl leading-tight focus:outline-none focus:shadow-outline" type="email" placeholder="E-Mail"  name="email" required>
    <button class="mt-10 bg-blue-500 text-white text-2xl font-bold py-2 px-4 rounded-full w-56 h-20">S'identifier</button>
</form>

<%- include('partials/footer') %>