<%- include('partials/header') %>
<div class="bg-no-repeat bg-cover h-screen" style="background-image: url(img/Fond.png)">
    <div class="flex justify-center">
        <img class="mt-3" src="../img/logo-1.png" alt="">
    </div>
    <div class="flex flex-col items-center">
        <a href="/annuaire"> <input class="mt-6 bg-green-500 text-white text-2xl font-bold py-2 px-4 rounded-full w-56 h-20" type="button" value="Annuaire"></a>
        <a href="/agenda"> <input class="mt-6 bg-blue-500 text-white text-2xl font-bold py-2 px-4 rounded-full w-56 h-20" type="button" value="Agenda"></a>
        <a href="/actualites"> <input class="mt-6 bg-green-500 text-white text-2xl font-bold py-2 px-4 rounded-full w-56 h-20" type="button" value="Actualites"></a>
        <a href="/forum"> <input class="mt-6 bg-blue-500 text-white text-2xl font-bold py-2 px-4 rounded-full w-56 h-20" type="button" value="Forum"></a>
    </div>
    
</div>
<%- include('partials/footer') %>