<%- include('partials/header') %>

<div class="flex flex-col items-center">
    <img src="../img/logo-1.png">
    <p class="text-3xl text-blue-500 text-center mt-9 ">Liste des participants</p>
    <div class="mt-10 flex text-center">
        <img class="ml-2" src="../img/logo_participants_50.png" alt="">
        <div class="ml-5 flex flex-col">
            <p class="text-gray-500">Mr :</p>
            <p class="text-gray-500">Entreprise:</p>
        </div>
    </div>
    <div class="mt-10 flex text-center">
        <img class="ml-2" src="../img/logo_participants_50.png" alt="">
        <div class="ml-5 flex flex-col">
            <p class="text-gray-500">Mr :</p>
            <p class="text-gray-500">Entreprise:</p>
        </div>
    </div>
    <div class="mt-10 flex text-center">
        <img class="ml-2" src="../img/logo_participants_50.png" alt="">
        <div class="ml-5 flex flex-col">
            <p class="text-gray-500">Mr :</p>
            <p class="text-gray-500">Entreprise:</p>
        </div>
    </div>
    <div class="mt-10 flex text-center">
        <img class="ml-2" src="../img/logo_participants_50.png" alt="">
        <div class="ml-5 flex flex-col">
            <p class="text-gray-500">Mr :</p>
            <p class="text-gray-500">Entreprise:</p>
        </div>
    </div>
</div>

<%- include('partials/footer') %>