<%- include('partials/header') %>
<div class="bg-no-repeat bg-cover h-screen" style="background-image: url(img/Fond.png)">

<p class="text-center">Salon Textuel</p>
<div class="m-auto max-w-full p-1">
    <div class="border-solid bg-gray-400 rounded p-px m-6 table">
        <img src="../img/logopersx50" alt="avatar" class=" float-left rounded-full mr-2">
        <p>Bonjour je recherche un développeur pour mon application.</p>
        <span class="float-right text-gray-600">9h30</span>
    </div>

    <div class=" border-gray-600 rounded bg-gray-500 p-px m-6 table">
        <img src="../img/logopersx50" alt="avatar"class=" float-right ml-2 rounded-full">
        <p>Bonjour, quel est votre problème s'il vous plaît?</p>
        <span class="float-left text-gray-200">9h35</span>
    </div>

    <div class="border-solid bg-gray-400 rounded p-px m-6 table">
        <img src="../img/logopersx50" alt="avatar" class=" float-left mr-2 rounded-full">
        <p>J'ai besoin d'améliorer toute la partie back-end de mon application et de verifier la partie front-end.</p>
        <span class="float-right text-gray-600">9h40</span>
    </div>

    <div class="border-gray-600 rounded bg-gray-500 p-px m-6 table">
        <img src="../img/logopersx50" alt="avatar" class=" float-right ml-2 rounded-full">
        <p>D'accord, je vous propose de nous rencontrer afin de voir plus en detail votre problème.</p>
        <span class="float-left text-gray-200">9h43</span>
    </div>

    <div class="border-solid bg-gray-400 rounded p-px m-6 table">
      <img src="../img/logopersx50" alt="avatar" class=" float-left mr-2 rounded-full">
      <p>Je serai disponible vendredi pour 14h00 cela vous convient-il ?</p>
      <span class="float-right text-gray-600">9h40</span>
  </div>
</div>
<div class="pt-20">
<div class="border-gray-600 rounded bg-gray-500 pb-2 pt-1">
  <input class="mt-1 shadow appearance-none border rounded w-64 py-2 px-3 text-xl leading-tight focus:outline-none focus:shadow-outline ml-1" type="text" name="intitule"placeholder="commentaire">
<!--
<textarea class="mt-2 shadow appearance-none border-gray-600 rounded w-64 h-24 py-2 px-3 text-center text-xl text-gray-900 leading-tight focus:outline-none focus:shadow-outline" placeholder="Description" name="description" type="text" rows="5" cols="70"></textarea>
-->
  <button class="ml-1 bg-blue-500 text-white font-bold rounded-full ml-3 py-1 px-3">envoyer</button>
</div>
</div>
</div>

<%- include('partials/footer') %>